@media only screen and (max-width: 600px) {
    .headings h1{
        font-size: 5vw;
    }
    
    .headings h5{
        font-size: 3vw;
    }
    .page-2{
        overflow-x: hidden;
    }
    .page-2 .work{
        padding: 10vw 0;
    }
    .page-2 h1{
        margin:10vw 0;
    }
    .card{
        height: 300px;
        width: 200px;
        margin-top: 45vw;
    }
    .s-card{
        height: 150px;
        width: 100px;
    }
    .page-3 h1{
        margin-top: -100vw;
        margin-bottom: 30vw;
    }
    .footer{
        height: 100vh;
    }
}