@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: gilroy;
  src: url(../fonts/gilroy\ \(1\).otf);
}
@font-face {
  font-family: mazius;
  src: url(../fonts/font.otf);
}

.headings {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30vh;
}

.headings h5 {
  font-size: 0.9vw;
  font-weight: 200;
  text-transform: uppercase;
}
.headings h1 {
  font-size: 3vw;
}
.headings .w {
  font-family: mazius;
  font-weight: 200;
  letter-spacing: 0.15vw;
}
.bs {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  color: #fff;
  font-family: gilroy;
  z-index: 9;
}

.container{
  background-color: #0f0d0d;
}
.hero{
  min-height: 100vh;
  width: 100%;
}
.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}
.navlist li {
  color: white;
  list-style: none;
  font-family: gilroy;
  font-size: 0.9rem;
  cursor: pointer;
}
.navlist {
  display: flex;
  gap: 0.8vw;
}
.nav img{
  height: 50px;
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #14cf93;
}
.Home{
  border-bottom: 2px solid white;
}
.hero-content{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-heading h1{
  color: white;
  font-size: 10vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.hero-heading h2{
  color: white;
  font-size: 6vw;
  font-family:'Montserrat', sans-serif ;
  font-weight: 300;
  margin-left: 8vw;
}
.hero-heading span{
  font-family: mazius;
  font-weight: 100;
  letter-spacing: 0.3vw;
  color: #27ffba;
}

.hero video{
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 5vw;
}
.cursor{
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #27ffba;
  z-index: 999;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: all linear 0.1s;
}
.page-2{
  height: 100vh;
  width: 100%;
}
.page-2 .work{
  width: 90vw;
  font-family: gilroy;
  display: flex;
  justify-content: space-between;
  margin-right: 50vw;
  margin-left: 5vw;
  border-bottom: 2px solid #161616;
  padding: 2vw;
  position: relative;
  z-index: 5;
}

.page-2 h1{
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 5vw 10vw;
}
.page-2 h1 span{
  font-family: mazius;
  color: #14cf93;
}

.w1{
  border-top: 2px solid #161616;
}
.card{
  height: 450px;
  width: 320px;
  box-shadow: 1px 2px 10px black;
  border-radius: 10px;
  background-image: url(../media/card.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 12vw;
  position: absolute;
  right: 15vw;
  transform: rotate(-7deg);
}
.page-3{
  min-height: 150vh;
}

.page-3  .skill-head{
font-family: 'Montserrat', sans-serif;
font-weight: 800;
font-size: 9vw;
text-align: center;
background-image: url('../media/txtbg.gif');
background-size: cover;
background-position: center;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.page-3  h1 span{
  font-family: 'mazius';
  color: #14cf93;
  font-weight: 300;
  text-shadow: 2px 2px 10px #14cf93;

}
.page-3 .skills{
  display: flex;
  margin-top: 10vw;
  justify-content: center;
}
.page-3 .skills h1{
  font-family: 'gilroy';
  font-size: 1.5vw;
  font-weight: 400;
}
.s-card{
  height: 600px;
  width: 350px;
  border-radius: 15px;
  position: absolute;
}
.s-card:nth-child(1){
  background-image: url(../media/html.png);
  background-size: cover;
  background-position: center;
  z-index: 4;
}
.s-card:nth-child(2){
  background-image: url(../media/css.png);
  background-size: cover;
  background-position: center;
  z-index:3;
}
.s-card:nth-child(3){
  background-image: url(../media/js.png);
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.s-card:nth-child(4){
  background-image: url(../media/react.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.s-card:nth-child(5){
  background-image: url(../media/git.png);
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.footer{
  min-height: 120vh;
  width: 100%;
  background-color: #231f2b;

}
.footer img{
  position: absolute;
  z-index: 1;
  bottom:3%;
  scale: 1.15;
  left: 30%;
}
.footer .f-head{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 4vw;
  color: white;
  text-align: center;
  padding-top: 2vw;
  z-index: 2;
  position: relative;
}
.footer .f-head span{
  font-family: 'mazius';
  color: #14cf93;
}
::-webkit-scrollbar-thumb{
  color: #14cf93;
}
.contact{
  margin: 10vw 5vw;
}
.footer .contact a{
  font-family: 'Montserrat';
  font-size: 0.9vw;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.footer .contact a span{
  opacity: 0.8;
  font-weight: 300;
}
.sm i{
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 1vw;
}
.sm{
  width: 15%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 1vw;
  margin-bottom: 5vw;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.github:hover{
  padding-left:0.5vw;
  padding-right: 0.5vw;
}
.fb:hover{
  padding-left:0.5vw;
  padding-right: 0.5vw;
}
.upwork:hover{
  padding-left:0.5vw;
  padding-right: 0.5vw;
}